* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
html, body {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.1rem;
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
  height: 100%;
  
}

